{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center mt-2 ">
    <div class="col-06 col-md-5 col-xl-4 my-5">
        <div class="card">
            <div class="card-header">
                Logged Out 
            </div>
            <div class="card-body">
                <h5 class="card-title">You have been successfully Logged out</h5>
                <p class="card-text">Thanks for visiting our Web site today..</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'login' %}" class="text-primary" >Login again?</a>
            </div>
        </div>
    </div>
</div>

    
{% endblock %}

